@import 'fonts';
@import 'vars';
@import 'global';


// START HEADER
.header{
  &__top{
    border-bottom: 1px solid #E4E7EB;
    padding: 12px 0;
  }
  &__bottom{
    position: relative;
    border-bottom: 1px solid #E4E7EB;
  }
  &-bottom__inner{
    height: 82px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// START SEARCH FORM
.search-form{
  display: flex;
  align-items: center;
  &__input{
    margin-right: 10px;
    padding: 0 0 4px;
    font-weight: 500;
    font-size: 12px;
    width: 340px;
    border-bottom: 1px solid #D1D8E0;
    line-height: 19px;
    outline: none;
    &::placeholder{
      color: #777E8B;
    }
  }
  &__btn{
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/search.svg');
    cursor: pointer;
  }
}
// END SEARCH FORM

// START ADRESS
.adress{
  position: relative;
  padding-left: 22px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 14px;
    background-image: url('../images/icons/marker.svg');
  }
}
// END ADRESS

// START EMAIL
.email{
  position: relative;
  padding-left: 24px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  text-decoration: underline;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-image: url('../images/icons/email.svg');
  }
}
// END EMAIL

// START PHONE
.phone{
  position: relative;
  padding-left: 20px;
  font-weight: 700;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 14px;
    background-image: url('../images/icons/phone.svg');
  }
}
// END PHONE

// START MENU
.menu{
  &__item + &__item{
    margin-left: 48px;
  }
  &__link{
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    transition: all .3s;
    &:hover{
      color: $accent;
    }
  }
}
.header__menu-item{
  height: 82px;
  line-height: 82px;
}

// START DROPDOWN
.dropdown{
  position: relative;
  padding-right: 12px;
  &__arrow{
    position: absolute;
    right: 0;
    bottom: 2px;
    svg,
    path{
      transition: all .3s;
    }
  }
  &:hover{
    .menu__link{
      color: $accent;
    }
    .dropdown__arrow{
      svg{
        transform: rotate(-180deg);
      }
      path{
        fill: $accent;
      }
    }
    .menu-item__dropdown-list{
      transform: translateX(-50%) scaleY(1);
    }
  }
  &__list{
    background-color: #fff;
    width: 320px;
    box-shadow: 0px 15px 24px rgba(60, 70, 88, 0.2);
    transition: all .3s;
    z-index: 11;
  }
  &__item{
    border-top: 1px solid #EFF1F3;
  }
  &__item, 
  &__link{
    display: block;
  }
  &__link{
    padding: 12px 20px;
    color: #566473;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    transition: all .3s;
    &:hover{
      background-color: #F4F7FA;
      color: $accent;
    }
  }
}
.menu-item__dropdown-list{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top;
}

.inner-dropdown{
  position: relative;
  &:hover{
    .inner-dropdown__list-wrapper{
      transform: scale(1);
    }
    & > .dropdown__link{
      color: $accent;
      background-color: #f4f7fa;
    }
    .inner-dropdown__arrow{
      svg{
        transform: rotate(180deg);
      }
      path{
        fill: $accent;
      }
    }
  }
  &__arrow{
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
    width: 4px;
    height: 6px;
    svg,
    path{
      transition: all .3s;
    }
  }
  &__list-wrapper{
    position: absolute;
    right: -100%;
    bottom: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: all .3s;
  }
  &__list{
    position: relative;
    left: 25px;
  }
}
// END DROPDOWN

// START DROP MENU
.drop-menu-link{
  position: relative;
  padding-right: 12px;
  &--active{
    color: $accent;
    path{
      fill: $accent;
    }
    svg{
      transform: rotate(-180deg);
    }
  }
  &__arrow{
    position: absolute;
    right: 0;
    bottom: 2px;
    svg,
    path{
      transition: all .3s;
    }
  }
}
.drop-menu{
  position: absolute;
  z-index: 20;
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;
  padding: 40px 0 20px;
  background-color: #fff;
  box-shadow: 0px 15px 24px rgba(60, 70, 88, 0.2);
  transform-origin: top;
  transform: scaleY(0);
  transition: all .3s;
  &--active{
    transform: scale(1);
  }
  &__inner{
    display: flex;
    margin-left: -58px;
  }
  &__block{
    position: relative;
    padding-left: 90px;
    margin-left: 58px;
    margin-bottom: 40px;
  }
  &__list-icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
  }
  &__title{
    margin-bottom: 20px;
    color: $bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  &__item{
    display: block;
    & + &{
      margin-top: 10px;
    }
  }
  &__link{
    color: #566473;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    width: 242px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .3s;
    &:hover{
      color: $accent;
    }
  }
}
// END DROP MENU
// END MENU
// END HEADER


// START OFFER
.offer{
  padding: 30px 0 60px;
}

// START OFFER SLIDER
.offer__slider{
  margin-bottom: 60px;
  &-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-image: url('../images/backgrounds/slider-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-img{
    margin-right: 12px;
  }
  &-content{
    flex-basis: 650px;
  }
  &-text{
    margin-bottom: 30px;
  }
  &-buttons{
    display: flex;
    margin-bottom: 40px;
  }
  &-btn{
    @include btn;
    width: 220px;
    &:first-child{
      background-color: $bold;
      margin-right: 20px;
    }
  }
  .slick-dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    line-height: 0;
    li{
      margin: 0 2px;
    }
    button{
      position: relative;
      background-color: transparent;
      font-size: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      transition: all .3s;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.8);
      }
    }
    .slick-active button {
      background-color: #00C658;
      &::before{
        display: none;
      }
    }
  }
}

// START SLICK BUTTONS
  .slick-btn{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(60, 70, 88, 0.3);
    width: 40px;
    height: 40px;
    transition: all .3s;
    &:hover{
      background-color: $bold;
    }
  }
  .slick-prev{
    left: 0;
  }
  .slick-next{
    right: 0;
  }
// END SLICK BUTTONS
// END OFFER SLIDER

// START OFFER INFO
.offer__info{
  &-inner{
    display: flex;
  }
  &-content{
    flex-basis: 750px;
    margin-right: 30px;
  }
}
// END OFFER INFO
// END OFFER


// START SERVICES
.services{
  padding: 60px 0;
  background-color: $bg;
  &__list-item{
    display: block;
    & + &{
      margin-top: 10px;
    }
  }
  &__list-link{
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
    font-weight: 500;
    transition: all .3s;
    &:hover{
      color: #00C658;
      text-decoration-color: transparent;
    }
  }
}
// END SERVICES


// START PRICE
.price{
  padding: 60px 0 104px;
  &__item{
    padding: 30px;
    background-color: #fff;
    max-width: 360px;
    margin-left: 30px;
    border: 1px solid #DFE1E3;
    text-align: center;
  }
  &__img-wrapper{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
  &__item-img{
    max-height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__item-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }
  &__item-text{
    margin-bottom: 30px;
    color: #777E8B;
    line-height: 20px;
  }
  &__item-btn{
    @include btn($bgcolor: #00C658);
    line-height: 40px;
    font-size: 12px;
    width: 225px;
    height: 40px;
  }
  .slick-list{
    margin-left: -30px;
  }
  .slick-dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -44px;
    line-height: 0;
    li{
      margin: 0 3px;
    }
    button{
      font-size: 0;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 3px solid #DFE1E3;
      transition: all .3s;
    }
    .slick-active button{
      border-color: #00C658;
    }
  }
}
// END PRICE


// START ADVANTAGES
.advantages{
  padding: 60px 0;
  background-color: $bg;
  &__inner{
    display: flex;
    align-items: center;
  }
  &__about{
    margin-right: 30px;
    flex-shrink: 0;
    flex-basis: 458px;
  }
  &__text{
    margin-bottom: 30px;
  }
  &__video{
    iframe{
      width: 100%;
      height: 300px;
    }
  }
  &__items{
    flex-basis: 652px;
  }
  &__item{
    padding: 40px 13px;
    flex-basis: 33.333%;
    min-height: 264px;
  }
  &__item-icon{
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
  }
  &__item-title{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 17px;
  }
  &__item-text{
    text-align: center;
    font-size: 13px;
    line-height: 18px;
  }
}
// END ADVANTAGES


// START QUESTIONS
.questions{
  padding: 60px 0;
  &__inner{
    display: flex;
    align-items: flex-start;
  }
  &__info{
    margin-right: 30px;
    flex-basis: 653px;
    flex-shrink: 0;
  }
  &__text + &__text{
    margin-top: 25px;
  }
  &__list-item + &__list-item{
   margin-top: 18px;
  }
  &__list-link{
    display: flex;
    align-items: center;
    line-height: 20px;
    &:hover{
      color: #00C658;
      span{
        text-decoration-color: transparent;
      }
      .questions__list-icon circle{
        fill: #00C658;
      }
    }
    span{
      text-decoration: underline;
      transition: all .3s;
    }
  }
  &__list-icon{
    margin-right: 10px;
    flex-shrink: 0;
    circle{
      transition: all .3s;
    }
  }
}
// END QUESTIONS


// START PRODUCTION
.production{
  padding: 60px 0;
  background-color: $bg;
  &__inner{
    display: flex;
    margin-bottom: 50px;
  }
  &__info{
    flex-basis: 653px;
    margin-right: 30px;
  }
  &__title{
    max-width: 380px;
  }
  &__text{
    margin-bottom: 30px;
    & + &{
      margin-top: 25px;
    }
  }
  &__gallery{
    display: flex;
    justify-content: space-between;
    line-height: 0;
  }
  &__img{
    width: 319px;
    height: 210px;
    object-fit: cover;
    object-position: center;
  }
  &__block-item{
    display: flex;
    & + &{
      padding-top: 30px;
      margin-top: 30px;
      border-top: 1px solid #DFE1E3;
    }
  }
  &__block-icon{
    margin-right: 30px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
  }
  &__item-title{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
  }
  &__item-text{
    font-size: 13px;
    line-height: 18px;
  }
  &__bottom-title{
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    span{
      color: #00C658;
    }
  }
  &__process{
    display: flex;
    margin-bottom: 40px;
  }
  &__process-item{
    position: relative;
    text-align: center;
    flex-basis: 195px;
    & + &{
      margin-left: 53px;
      &::before{
        content: '+';
        position: absolute;
        top: 30px;
        left: -20%;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
  &__process-icon{
    margin-bottom: 15px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
  }
  &__process-text{
    font-weight: 600;
    line-height: 20px;
  }
  &__btn{
    @include btn;
    display: block;
    margin: 0 auto;
  }
}
.production__process-item:last-child{
  &::before{
    content: '=';
  }
}
// END PRODUCTION


// START AGREEMENT
.agreement{
  padding: 60px 0;
  &__inner{
    display: flex;
    align-items: flex-start;
  }
  &__content{
    margin-right: 27px;
    flex-basis: 656px;
  }
  &__text{
    margin-bottom: 30px;
  }
  &__list{

  }
  &__list-item{
    position: relative;
    display: block;
    padding-left: 26px;
    font-weight: 600;
    & + &{
      margin-top: 15px;
    }
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/check.svg');
      width: 16px;
      height: 16px;
    }
  }
  &__block-text,
  &__block-notation{
    font-size: 13px;
    line-height: 18px;
  }
  &__block-notation{
    margin-top: 15px;
    font-weight: 600;
  }
}
// END AGREEMENT


// START SPECIAL
.special{
  padding: 60px 0;
  background-color: $bg;
  &__text{
    margin-bottom: 30px;
  }
  &__inner{
    display: flex;
    margin-bottom: 30px;
    border-left: 1px solid #DFE1E3;
  }
  &__item{
    position: relative;
    padding: 20px;
    padding-bottom: 45px;
    background-color: #fff;
    flex-basis: 25%;
    border: 1px solid #DFE1E3;
    border-left: none;
    transition: all .3s;
    &:hover{
      box-shadow: 0px 0px 10px rgba(35, 71, 95, 0.15);
      z-index: 10;
    }
  }
  &__item-img-link{
    line-height: 0;
  }
  &__item-img{
    margin-bottom: 20px;
    height: 244px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__item-title{
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s;
    &:hover{
      color: $accent;
    }
  }
  &__item-text{
    color: #777E8B;
    font-size: 13px;
    line-height: 21px;
  }
  &__btn{
    @include btn;
    display: block;
    margin: 0 auto;
  }
}
// END SPECIAL

@import 'media';